<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/fonts/css/all.css">
  <link rel="stylesheet" href="/style/dashboard/home.css">
  <script src="../../assets/charts/package/dist/chart.min.js"></script>
    <title>Home</title>
</head>
<body>
    <section>
      <!-- left bar -->
       <a href="" id="collapser">
        <span class="fa fa-bars" id="collapsericon"></span>
       </a>
         <!-- left bar -->
         {{ template "leftmenubar.html" .}}
         <!-- left bar end -->
         <!-- end of left bar -->

         <!-- top icons -->
      <div class="topbodystatus">
        <div class="icondiv">
          <span class="icon fa fa-dumbbell">  </span><span class="name">Gym-goers</span>
          <h3>{{.TotalGymGoeras}}</h3>
          
        </div>
        <div class="icondiv">
          <span class="icon fa fa-users">  </span><span class="name">Total Users</span>
          <h3>{{.totalUers}}</h3>
          
        </div>
        <div class="icondiv">
          <span class="icon fa fa-scale-unbalanced">  </span><span class="name">Today</span>
          <h3>{{.today}}</h3>
          
        </div>
        <div class="icondiv">
          <span class="icon fa fa-stopwatch">  </span><span class="name">New Gym-goers</span>
          <h3>{{.usersToday}}</h3>
          
        </div>
      </div>
         <!-- end of top icons -->
         <!-- charts  -->
        <div class="chartscont">
          <div>
            <canvas id="linechart"></canvas>
          </div>
          <div>
            <canvas id="piechart"></canvas>
          </div>
        </div>
         <!-- end of charts -->
         <!-- start of list -->
        



    <script>
      const labels = [
        'Monday',
        'Tuesday',
        'Wednesday',
        'Thursday',
        'Friday',
        'Saturday',
        'Sunday'
      ];
    
      const data = {
        labels: labels,
        datasets: [{
          label: 'This week logins',
          backgroundColor:['#00df8a','#1a8fe3','#1ae364','#e3c11a','#e01ae3','#e37b1a','#53e31a'],
            
          data: [{{.monday}}, {{.Tuesday}}, {{.Wednesday}}, {{.Thursday}}, {{.Friday}}, {{.Saturday}}, {{.Sunday}}],
        }]
      };
    
      const config = {
        type: 'line',
        data: data,
        options: {
          legend:{
             display:false
          }
        }
      };
      const piechartconfig = {
        type: 'doughnut',
        data: data,
        options: {
          legend:{
             display:false
          }
        }
      };
    </script>

    <script>
      const linechart = new Chart(
        document.getElementById('linechart'),
        config
      );
      const piechart =  new Chart(
        document.getElementById('piechart'),
        piechartconfig
      );
    </script>

<script src="/script/collapser/home.js"></script>
</body>
</html>