<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/fonts/css/all.css">
  <link rel="stylesheet" href="/style/gym-goers/home.css">

    <title>Home</title>
</head>
<body>

    <section>
      <h4 id="error" ></h4>
      <!-- left bar -->
       <a href="" id="collapser">
        <span class="fa fa-bars" id="collapsericon"></span>
       </a>
       {{ template "leftmenubar.html" .}}
         <!-- end of left bar -->
   <div class="forms">
    <div class="legend">
      <h1>Register Gym-goers</h1>
    </div>
<div class="formsQr">
  <div class="formhandler">
      
    <!-- form -->
    <form action="" class="form">
    <div class="form">
      <div class="row">
        <input type="text" name="first_name" value="{{.gymgoerDetailFirstName}}" placeholder="First Name">
        <input type="text" name="last_name" value="{{.gymgoerDetailLastName}}" placeholder="Last Name">
      </div>
      
      <div class="row">
        <input type="text" name="phone_number" value="{{.gymgoerPhoneNumber}}" placeholder="Phone Number ">
         <select name="payment_type" id="">
          <option value="00000000-0000-0000-0000-000000000000">-- Select Pyment --</option>
          {{range .payments}}
          <option value="{{.ID}}">{{.PymentType}}</option>
          {{end}}
         </select>
      </div>
      <div class="row">
        <input name="start_date" style="display:{{.startdateDisp}}"  type="date" placeholder="Start Date">
        <select name="paid_by" >
          <option value="">-- Select Paid By --</option>
          <option value="Bank Transfer">Bank Transfer</option>
          <option value="Cash">Cash</option>
         
         </select>
      </div>
      
      <div class="row">
        <button type="submit" class="register">{{.actionName}}</button><button class="reset">Reset</button>
      </div>
    </form>
<!-- end of form -->

      <!-- qr generator -->
        
    </div>
   </div>
   <div class="qrgenerator">
    <div id="qrcode"></div>
    <div class="userInfo">
        <span class="info" style="display:{{.disabled}};">First Name </span> <span>{{.gymgoerDetailFirstName}} </span>
        <br>
        <span class="info" style="display:{{.disabled}};">Last Name </span> <span>{{.gymgoerDetailLastName }} </span>
        <br> 

       <a href="/view/gym-goers-detail/{{.qrid}}"><button style="width: 20vw;display:{{.disabled}};">Details</button></a>
        
        
    </div>
  </div>
</div>
   </div>
     
<div class="userLists">
  <form action="/view/gymgoers" method="get">
    <input type="text" name="phone_number" placeholder="0975146165" class="search">
    <button type="submit" style="background:#00df8a;padding-left: 25px;padding: 5px;padding-bottom: 7px;padding-right: 20px;cursor: pointer; color: white;">search</button>
  </form>
   <div class="userinfotable">
     {{range .gym_goers}}
    <div class="table">
    
      <div class="firstname childs">{{.FirstName}}</div> <div class="lastname childs">{{.LastName}}</div> <div class="Action childs"><div class="detail"><a href="/view/gym-goers/{{.ID}}"><button class="detailbtn">Details</button></a> </div><div class="delete"><a href="/v1/api/gymgoers/delete/{{.ID}}"><button class="deletebtn">Delete</button></a></div></div>
      
    </div>
     {{end}} 

                           
   </div>
</div>
<script src="/script/collapser/home.js"></script>
<script src="/script/qr/qrcode.min.js"></script>
<script>
 var  qrcode=new QRCode(document.getElementById("qrcode"),{
    text: "Alazar Beyene 0975146165",
    width: 128,
    height: 128,
    colorDark : "#000000",
    colorLight : "#ffffff",
    correctLevel : QRCode.CorrectLevel.H
});
   qrcode.makeCode({{.qrDisplayId}})
</script>

<script>

      

  function handleSubmit(event) {
      event.preventDefault();
  
      const data = new FormData(event.target);
  
      const value = Object.fromEntries(data.entries());
  
     //      
  var xhr = new XMLHttpRequest();
  
  xhr.open("{{.method}}", "{{.url}}", true);
  xhr.setRequestHeader("Content-Type", "application/json");
  xhr.onload=function(){
   
   if (xhr.status !="200"){
 
      document.getElementById("error").innerText=JSON.parse(xhr.responseText).error
      document.getElementById("error").style="color:rgb(254, 253, 253);width: 80vw;position: absolute;top: 10px;left: 10vw;background: rgba(255, 0, 0, 0.591);height: 30px;padding: 5px;border-radius: 5px;";

   }else{
     
      window.location.href = "http://localhost:8282/view/gym-goers"
   }
  
     
  }
  console.log(JSON.stringify(value))
  xhr.send(JSON.stringify(value));
  
  }
  
    const form = document.querySelector('form');
    form.addEventListener('submit', handleSubmit);
  
  
      </script>
</body>
</html>