<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/fonts/css/all.css">
  <link rel="stylesheet" href="/style/gym-goers-detail/home.css">
    <title>Home</title>
</head>
<body>
    <section>
      <!-- left bar -->
       <a href="" id="collapser">
        <span class="fa fa-bars" id="collapsericon"></span>
       </a>
       {{ template "leftmenubar.html" .}}
         <!-- end of left bar -->
   <div class="forms">
    <div class="legend">
      <h1>Alazar Beyene</h1>
    </div>
<div class="formsQr">
  <div class="formhandler">
      
    <!-- form -->
    <div class="form">
      <div class="row">
        <input type="text" placeholder="First Name" value="Alazar">
        <input type="text" placeholder="Last Name" value="Beyene">
      </div>
      
      <div class="row">
        <input type="text" placeholder="Phone Number " value="+251975146165">
         <select name="type" id="">
          <option value="Yearly">Yearly</option>
          <option value="Yearly">Monthly</option>
          <option value="Yearly">Monthly Cupon</option>
         </select>
      </div>
      <div class="row">
        <button class="register">Update</button>
      </div>
<!-- end of form -->

      <!-- qr generator -->
        
    </div>
   </div>
   <div class="qrgenerator">
    <img src="/assets/images/QR_code_for_mobile_English_Wikipedia.svg.png" alt="">
    <div class="userInfo">
     <br>
     <br>
     
      <span class="info">Will Expired at </span> <span>22-11-2022 </span>
      <br> 

        <button>CheckIn</button> <a href="/view/gym-goers"><button>Back</button>
        </a>        
        
    </div>
  </div>
</div>
   </div>

   <div class="userLists">
    <form action="search">
      <h1>CheckIn History</h1>
    </form>
     <div class="userinfotable">
      <div class="table">
        <div class="firstname childs">Monday</div> <div class="lastname childs">20-11-2022</div> <div class="Action childs">3:30 PM</div>
       </div>     <div class="table">
        <div class="firstname childs">Monday</div> <div class="lastname childs">20-11-2022</div> <div class="Action childs">3:30 PM</div>
       </div>     <div class="table">
        <div class="firstname childs">Monday</div> <div class="lastname childs">20-11-2022</div> <div class="Action childs">3:30 PM</div>
       </div>     <div class="table">
        <div class="firstname childs">Monday</div> <div class="lastname childs">20-11-2022</div> <div class="Action childs">3:30 PM</div>
       </div>     <div class="table">
        <div class="firstname childs">Monday</div> <div class="lastname childs">20-11-2022</div> <div class="Action childs">3:30 PM</div>
       </div>     <div class="table">
        <div class="firstname childs">Monday</div> <div class="lastname childs">20-11-2022</div> <div class="Action childs">3:30 PM</div>
       </div>     <div class="table">
        <div class="firstname childs">Monday</div> <div class="lastname childs">20-11-2022</div> <div class="Action childs">3:30 PM</div>
       </div>     <div class="table">
        <div class="firstname childs">Monday</div> <div class="lastname childs">20-11-2022</div> <div class="Action childs">3:30 PM</div>
       </div>     <div class="table">
        <div class="firstname childs">Monday</div> <div class="lastname childs">20-11-2022</div> <div class="Action childs">3:30 PM</div>
       </div>     <div class="table">
        <div class="firstname childs">Monday</div> <div class="lastname childs">20-11-2022</div> <div class="Action childs">3:30 PM</div>
       </div>     <div class="table">
        <div class="firstname childs">Monday</div> <div class="lastname childs">20-11-2022</div> <div class="Action childs">3:30 PM</div>
       </div>     <div class="table">
        <div class="firstname childs">Monday</div> <div class="lastname childs">20-11-2022</div> <div class="Action childs">3:30 PM</div>
       </div>     <div class="table">
        <div class="firstname childs">Monday</div> <div class="lastname childs">20-11-2022</div> <div class="Action childs">3:30 PM</div>
       </div>     <div class="table">
        <div class="firstname childs">Monday</div> <div class="lastname childs">20-11-2022</div> <div class="Action childs">3:30 PM</div>
       </div>     <div class="table">
        <div class="firstname childs">Monday</div> <div class="lastname childs">20-11-2022</div> <div class="Action childs">3:30 PM</div>
       </div>     <div class="table">
        <div class="firstname childs">Monday</div> <div class="lastname childs">20-11-2022</div> <div class="Action childs">3:30 PM</div>
       </div>     <div class="table">
        <div class="firstname childs">Monday</div> <div class="lastname childs">20-11-2022</div> <div class="Action childs">3:30 PM</div>
       </div>     <div class="table">
        <div class="firstname childs">Monday</div> <div class="lastname childs">20-11-2022</div> <div class="Action childs">3:30 PM</div>
       </div>     <div class="table">
        <div class="firstname childs">Monday</div> <div class="lastname childs">20-11-2022</div> <div class="Action childs">3:30 PM</div>
       </div>     <div class="table">
        <div class="firstname childs">Monday</div> <div class="lastname childs">20-11-2022</div> <div class="Action childs">3:30 PM</div>
       </div>     <div class="table">
        <div class="firstname childs">Monday</div> <div class="lastname childs">20-11-2022</div> <div class="Action childs">3:30 PM</div>
       </div>     <div class="table">
        <div class="firstname childs">Monday</div> <div class="lastname childs">20-11-2022</div> <div class="Action childs">3:30 PM</div>
       </div>     <div class="table">
        <div class="firstname childs">Monday</div> <div class="lastname childs">20-11-2022</div> <div class="Action childs">3:30 PM</div>
       </div>     <div class="table">
        <div class="firstname childs">Monday</div> <div class="lastname childs">20-11-2022</div> <div class="Action childs">3:30 PM</div>
       </div>     <div class="table">
        <div class="firstname childs">Monday</div> <div class="lastname childs">20-11-2022</div> <div class="Action childs">3:30 PM</div>
       </div>     <div class="table">
        <div class="firstname childs">Monday</div> <div class="lastname childs">20-11-2022</div> <div class="Action childs">3:30 PM</div>
       </div>     <div class="table">
        <div class="firstname childs">Monday</div> <div class="lastname childs">20-11-2022</div> <div class="Action childs">3:30 PM</div>
       </div>     <div class="table">
        <div class="firstname childs">Monday</div> <div class="lastname childs">20-11-2022</div> <div class="Action childs">3:30 PM</div>
       </div>     <div class="table">
        <div class="firstname childs">Monday</div> <div class="lastname childs">20-11-2022</div> <div class="Action childs">3:30 PM</div>
       </div>     <div class="table">
        <div class="firstname childs">Monday</div> <div class="lastname childs">20-11-2022</div> <div class="Action childs">3:30 PM</div>
       </div>     <div class="table">
        <div class="firstname childs">Monday</div> <div class="lastname childs">20-11-2022</div> <div class="Action childs">3:30 PM</div>
       </div>     <div class="table">
        <div class="firstname childs">Monday</div> <div class="lastname childs">20-11-2022</div> <div class="Action childs">3:30 PM</div>
       </div>     <div class="table">
        <div class="firstname childs">Monday</div> <div class="lastname childs">20-11-2022</div> <div class="Action childs">3:30 PM</div>
       </div>     <div class="table">
        <div class="firstname childs">Monday</div> <div class="lastname childs">20-11-2022</div> <div class="Action childs">3:30 PM</div>
       </div>     <div class="table">
        <div class="firstname childs">Monday</div> <div class="lastname childs">20-11-2022</div> <div class="Action childs">3:30 PM</div>
       </div>     <div class="table">
        <div class="firstname childs">Monday</div> <div class="lastname childs">20-11-2022</div> <div class="Action childs">3:30 PM</div>
       </div>     <div class="table">
        <div class="firstname childs">Monday</div> <div class="lastname childs">20-11-2022</div> <div class="Action childs">3:30 PM</div>
       </div>     <div class="table">
        <div class="firstname childs">Monday</div> <div class="lastname childs">20-11-2022</div> <div class="Action childs">3:30 PM</div>
       </div>                       
     </div>
  </div>
     
<script src="/script/collapser/home.js"></script>
</body>
</html>