{{ define "leftmenubar.html" }}
<div class="header" id="leftbar">
    <header>
      <div class="user">
        <img src="/assets/me.jpg" alt="">
      </div>
      <div class="profile">
        <h6>{{.FirstName}} {{.LastName}}</h6>
        <h4>{{.PhoneNumber}}</h4>
      </div>
      <nav>
        
        <br>
        <br>
        <li class="dasboardActive"><span class="fa fa-dashboard" > </span><a href="/view/dashboard">Dashboard</a></li>
        <a href="/view/gym-goers"><li class="gymoersActive"><span class="fa fa-users " > </span>Gym-goers</li></a>
        <a href="/view/payment"><li class="pymentActive"><span class="fa fa-money-bill-wave-alt" > </span>Payment</li></a>
        <a href="/view/users"><li class="userActive"><span class="fa fa-users-gear" > </span>Users</li></a>
        <a href="/view/roles"><li class="roleActive"><span class="fa fa-users-gear" > </span>Roles</li></a>
        <a href=""><li><span class="fa fa-square-poll-vertical" > </span>Reports</li></a>
        
        <a href="/view/setting"><li class="settingActive"><span class="fa fa-gears" > </span>Setting</li></a>
        <a href="/view/logout"><li><span class="fa fa-sign-out" style="color: red !important;" > </span>Logout</li></a>
         
      </nav>
    </header>
   </div>
   {{end}}