<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/fonts/css/all.css">
    <link rel="stylesheet" href="/style/pyment/home.css">
    <title>Home</title>
</head>
<body>

      <h4 id="error" ></h4>
  
    <section>
      <!-- left bar -->
       <a href="" id="collapser">
        <span class="fa fa-bars" id="collapsericon"></span>
       </a>
       {{ template "leftmenubar.html" .}}
         <!-- end of left bar -->
   <div class="forms">
    <div class="legend">
      <h1>Payment Configuration</h1>
    </div>
<div class="formsQr">
  <div class="formhandler">
      <form action="">   <!-- form -->
    <div class="form" >
     
      <div class="row">
        <input type="text" name="pyment_type" value="{{.Paymenttype}}" placeholder="Type Name">
        <input type="number" name="number_of_days" value="{{.Numberofdays}}" placeholder="Valide for days">
      </div>
      
      <div class="row">
        <input type="text" name="pyment" value="{{.Paymentfortype}}" placeholder="Payment In Birr">       
      </div>
      <div class="row">
        <button class="register" type="submit">{{.status}}</button><button class="reset">Reset</button>
      </div>
    </form>
 
<!-- end of form -->

      <!-- qr generator -->
        
    </div>
   </div>
   <div class="qrgenerator">

    <div class="userInfo">
        <span class="info">Total Payment Types </span> <span> {{.counter}} </span>
        <br>
       

        
        
    </div>
  </div>
</div>
   </div>
     
<div class="userLists">
<br><br>
   <div class="userinfotable">
    <div class="table">
      <div class="firstname childs" >Payment Type</div> <div class="lastname childs">Payment</div><div class="lastname childs">Available Days</div><div class="lastname childs">First Name</div><div class="lastname childs">  Last Name</div> <div class="Action childs"><div class="detail">Edit</div><div class="delete">Delete</div></div>
     
    </div>
    {{range .payments}}

    <div class="table">
      
      <div class="firstname childs">{{.PymentType}}</div> <div class="lastname childs">{{.Payment}}</div><div class="lastname childs">{{.NumberOfDays}}</div><div class="lastname childs">{{.CreatedByFirstName}}</div><div class="lastname childs">{{.CreatedByLastName}}</div> <div class="Action childs"><div class="detail"><a href="http://localhost:8282/view/payment/{{.ID}}"><button class="detailbtn">Edit</button></a> </div><div class="delete"><a href="/v1/api/pyments/delete/{{.ID}}"><button class="deletebtn">Delete</button></a></div></div>
     </div>
   {{end}}
                           
   </div>
</div>
<script>

      

  function handleSubmit(event) {
      event.preventDefault();
  
      const data = new FormData(event.target);
  
      const value = Object.fromEntries(data.entries());
      console.log(value)
     //      
  var xhr = new XMLHttpRequest();
  
  xhr.open("{{.method}}", "/v1/api/pyments/{{.editting}}", true);
  xhr.setRequestHeader("Content-Type", "application/json");
  xhr.onload=function(){
   
   if (xhr.status !="200"){
      document.getElementById("error").innerText=JSON.parse(xhr.responseText).error
      document.getElementById("error").style="color:rgb(254, 253, 253);width: 80vw;position: absolute;top: 10px;left: 10vw;background: rgba(255, 0, 0, 0.591);height: 30px;padding: 5px;border-radius: 5px;";

   }else{
     
      window.location.href = "http://localhost:8282/view/payment"
   }
  
     
  }
  xhr.send(JSON.stringify(value));
  
  }
  
    const form = document.querySelector('form');
    form.addEventListener('submit', handleSubmit);
  
  
      </script>
<script src="/script/collapser/home.js"></script>
</body>
</html>