<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/fonts/css/all.css">
    <link rel="stylesheet" href="/style/pyment/home.css">
    <title>Home</title>
</head>
<body>
    <section>
      <!-- left bar -->
       <a href="" id="collapser">
        <span class="fa fa-bars" id="collapsericon"></span>
       </a>
       {{ template "leftmenubar.html" .}}
         <!-- end of left bar -->
   <div class="forms">
    <div class="legend">
      <h1>Payment Configuration</h1>
    </div>
<div class="formsQr">
  <div class="formhandler">
      
    <!-- form -->
    <div class="form">
      <div class="row">
        <input type="text" placeholder="Type Name">
        <input type="number" placeholder="Valide for days">
      </div>
      
      <div class="row">
        <input type="text" placeholder="Payment In Birr">
        <input type="number" placeholder="Discount 0 - 100 %  ">
       
      </div>
      <div class="row">
        <button class="register">Add</button><button class="reset">Reset</button>
      </div>
<!-- end of form -->

      <!-- qr generator -->
        
    </div>
   </div>
   <div class="qrgenerator">

    <div class="userInfo">
        <span class="info">Total Payment Types </span> <span> 5 </span>
        <br>
       

        
        
    </div>
  </div>
</div>
   </div>
     
<div class="userLists">
  <form action="search">
    <input type="text" placeholder="Search" class="search">
  </form>
   <div class="userinfotable">
    <div class="table">
      <div class="firstname childs">Monthly</div> <div class="lastname childs">1400 Birr</div><div class="lastname childs">10% Discount</div><div class="lastname childs">Valide for 30 days</div> <div class="Action childs"><div class="detail"><button class="detailbtn">Edit</button> </div><div class="delete"><button class="deletebtn">Delete</button></div></div>
     </div>
     <div class="table">
      <div class="firstname childs">Monthly</div> <div class="lastname childs">1400 Birr</div><div class="lastname childs">10% Discount</div><div class="lastname childs">Valide for 30 days</div> <div class="Action childs"><div class="detail"><button class="detailbtn">Edit</button> </div><div class="delete"><button class="deletebtn">Delete</button></div></div>
     </div>
       <div class="table">
      <div class="firstname childs">Monthly</div> <div class="lastname childs">1400 Birr</div><div class="lastname childs">10% Discount</div><div class="lastname childs">Valide for 30 days</div> <div class="Action childs"><div class="detail"><button class="detailbtn">Edit</button> </div><div class="delete"><button class="deletebtn">Delete</button></div></div>
     </div>
       <div class="table">
      <div class="firstname childs">Monthly</div> <div class="lastname childs">1400 Birr</div><div class="lastname childs">10% Discount</div><div class="lastname childs">Valide for 30 days</div> <div class="Action childs"><div class="detail"><button class="detailbtn">Edit</button> </div><div class="delete"><button class="deletebtn">Delete</button></div></div>
     </div>
       <div class="table">
      <div class="firstname childs">Monthly</div> <div class="lastname childs">1400 Birr</div><div class="lastname childs">10% Discount</div><div class="lastname childs">Valide for 30 days</div> <div class="Action childs"><div class="detail"><button class="detailbtn">Edit</button> </div><div class="delete"><button class="deletebtn">Delete</button></div></div>
     </div>
       <div class="table">
      <div class="firstname childs">Monthly</div> <div class="lastname childs">1400 Birr</div><div class="lastname childs">10% Discount</div><div class="lastname childs">Valide for 30 days</div> <div class="Action childs"><div class="detail"><button class="detailbtn">Edit</button> </div><div class="delete"><button class="deletebtn">Delete</button></div></div>
     </div>
       <div class="table">
      <div class="firstname childs">Monthly</div> <div class="lastname childs">1400 Birr</div><div class="lastname childs">10% Discount</div><div class="lastname childs">Valide for 30 days</div> <div class="Action childs"><div class="detail"><button class="detailbtn">Edit</button> </div><div class="delete"><button class="deletebtn">Delete</button></div></div>
     </div>
       <div class="table">
      <div class="firstname childs">Monthly</div> <div class="lastname childs">1400 Birr</div><div class="lastname childs">10% Discount</div><div class="lastname childs">Valide for 30 days</div> <div class="Action childs"><div class="detail"><button class="detailbtn">Edit</button> </div><div class="delete"><button class="deletebtn">Delete</button></div></div>
     </div>
       <div class="table">
      <div class="firstname childs">Monthly</div> <div class="lastname childs">1400 Birr</div><div class="lastname childs">10% Discount</div><div class="lastname childs">Valide for 30 days</div> <div class="Action childs"><div class="detail"><button class="detailbtn">Edit</button> </div><div class="delete"><button class="deletebtn">Delete</button></div></div>
     </div>
       <div class="table">
      <div class="firstname childs">Monthly</div> <div class="lastname childs">1400 Birr</div><div class="lastname childs">10% Discount</div><div class="lastname childs">Valide for 30 days</div> <div class="Action childs"><div class="detail"><button class="detailbtn">Edit</button> </div><div class="delete"><button class="deletebtn">Delete</button></div></div>
     </div>
       <div class="table">
      <div class="firstname childs">Monthly</div> <div class="lastname childs">1400 Birr</div><div class="lastname childs">10% Discount</div><div class="lastname childs">Valide for 30 days</div> <div class="Action childs"><div class="detail"><button class="detailbtn">Edit</button> </div><div class="delete"><button class="deletebtn">Delete</button></div></div>
     </div>
       <div class="table">
      <div class="firstname childs">Monthly</div> <div class="lastname childs">1400 Birr</div><div class="lastname childs">10% Discount</div><div class="lastname childs">Valide for 30 days</div> <div class="Action childs"><div class="detail"><button class="detailbtn">Edit</button> </div><div class="delete"><button class="deletebtn">Delete</button></div></div>
     </div>
       <div class="table">
      <div class="firstname childs">Monthly</div> <div class="lastname childs">1400 Birr</div><div class="lastname childs">10% Discount</div><div class="lastname childs">Valide for 30 days</div> <div class="Action childs"><div class="detail"><button class="detailbtn">Edit</button> </div><div class="delete"><button class="deletebtn">Delete</button></div></div>
     </div>
       <div class="table">
      <div class="firstname childs">Monthly</div> <div class="lastname childs">1400 Birr</div><div class="lastname childs">10% Discount</div><div class="lastname childs">Valide for 30 days</div> <div class="Action childs"><div class="detail"><button class="detailbtn">Edit</button> </div><div class="delete"><button class="deletebtn">Delete</button></div></div>
     </div>
       <div class="table">
      <div class="firstname childs">Monthly</div> <div class="lastname childs">1400 Birr</div><div class="lastname childs">10% Discount</div><div class="lastname childs">Valide for 30 days</div> <div class="Action childs"><div class="detail"><button class="detailbtn">Edit</button> </div><div class="delete"><button class="deletebtn">Delete</button></div></div>
     </div>
       <div class="table">
      <div class="firstname childs">Monthly</div> <div class="lastname childs">1400 Birr</div><div class="lastname childs">10% Discount</div><div class="lastname childs">Valide for 30 days</div> <div class="Action childs"><div class="detail"><button class="detailbtn">Edit</button> </div><div class="delete"><button class="deletebtn">Delete</button></div></div>
     </div>
     
                           
   </div>
</div>
<script src="/script/collapser/home.js"></script>
</body>
</html>