<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/fonts/css/all.css">
  <link rel="stylesheet" href="/style/roles/home.css">
  
    <title>Home</title>
</head>
<body>
    <section>
      <!-- left bar -->
       <a href="" id="collapser">
        <span class="fa fa-bars" id="collapsericon"></span>
       </a>
       {{ template "leftmenubar.html" .}}
         <!-- end of left bar -->
   <div class="forms">
    <div class="legend">
      <h1>Role Management</h1>
    </div>
<div class="formsQr">
  <div class="formhandler">
      
    <!-- form -->
    <form action="http://localhost:8282/v1/api/roles" method="get" class="form">
    <div class="form">
      <div class="row">
        <input type="text" placeholder="Role Name" name="role_name">
      
      </div>
      
     
      <div class="row">
        <button class="register" type="submit">Create</button><button class="reset">Reset</button>
      </div>
 
<!-- end of form -->

      <!-- qr generator -->
        
    </div>
   </div>
   <div class="qrgenerator">
   
    <div class="userInfo">
      <div class="userPermissionTable">
    
        {{range .permission}}
        <div class="permission"> <input type="checkbox" class="permission" value="{{.ID}}"  name="permissions"> <label for="createuser">{{.Action}}</label></input></div>    
        {{end}}
    
    </div>
  </div>
</div>
</form>
   </div>
     
<div class="userLists">
  <form action="search">
    <input type="text" placeholder="Search" class="search">
  </form>
   <div class="userinfotable">
     {{range .roles}}
    <div class="table">
      <div class="firstname childs">{{.RoleName}}</div> <div class="lastname childs"></div> <div class="Action childs"><div class="detail"><a href="/view/roles/{{.RoleName}}"><button class="detailbtn">Detail</button></a> </div><div class="delete"><a href="/v1/api/roles/{{.RoleName}}"><button class="deletebtn">Delete</button></a></div></div>
     </div>
     {{end}}
    
    
                           
   </div>
</div>
<script src="/script/collapser/home.js"></script>
<script src="/script/jquery/jquery.js"></script>

</body>
</html>