<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/fonts/css/all.css">
  <link rel="stylesheet" href="/style/roles/home.css">
  
    <title>Home</title>
</head>
<body>
    <section>
      <!-- left bar -->
       <a href="" id="collapser">
        <span class="fa fa-bars" id="collapsericon"></span>
       </a>
       {{ template "leftmenubar.html" .}}
         <!-- end of left bar -->
   <div class="forms">
    <div class="legend">
      <h1>Role Management</h1>
    </div>
<div class="formsQr">
  <div class="formhandler">
      
    <!-- form -->
    <div class="form">
      <div class="row">
        <input type="text" placeholder="Role Name">
      
      </div>
      
     
      <div class="row">
        <button class="register">Create</button><button class="reset">Reset</button>
      </div>
<!-- end of form -->

      <!-- qr generator -->
        
    </div>
   </div>
   <div class="qrgenerator">
   
    <div class="userInfo">
      <div class="userPermissionTable">
        <input type="checkbox" name="createuser"> <label for="createuser">Create User</label></input>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" name="createuser"> <label for="createuser"> Edit User</label></input>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="checkbox" name="createuser"> <label for="createuser">Delete User</label></input>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <input type="checkbox" name="createuser"> <label for="createuser">Suspend User</label></input>
        
      </div>
      <div class="userPermissionTable">
        <input type="checkbox" name="createuser"> <label for="createuser">Create Gym-goers</label></input>
        <input type="checkbox" name="createuser"> <label for="createuser">Edit Gym-goers</label></input>
        <input type="checkbox" name="createuser"> <label for="createuser">Delete Gym-goers</label></input>
        <input type="checkbox" name="createuser"> <label for="createuser">Suspend Gym-goers</label></input>
        
      </div>
      <div class="userPermissionTable">
        <input type="checkbox" name="createuser"> <label for="createuser">Create Payment</label></input>
        &nbsp;&nbsp;&nbsp;<input type="checkbox" name="createuser"> <label for="createuser">Edit Payment</label></input>
        &nbsp;&nbsp;&nbsp;<input type="checkbox" name="createuser"> <label for="createuser">Delete Payment</label></input>
        &nbsp;&nbsp;&nbsp;<input type="checkbox" name="createuser"> <label for="createuser">Edit Setting</label></input>
       
      </div>
      <div class="userPermissionTable">
        <input type="checkbox" name="createuser"> <label for="createuser">Create Role</label></input>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="checkbox" name="createuser"> <label for="createuser">Edit Role</label></input>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <input type="checkbox" name="createuser"> <label for="createuser">Delete Role</label></input>
       
      </div>
     
        
        
    </div>
  </div>
</div>
   </div>
     
<div class="userLists">
  <form action="search">
    <input type="text" placeholder="Search" class="search">
  </form>
   <div class="userinfotable">
    <div class="table">
      <div class="firstname childs">Administrator</div> <div class="lastname childs">3 Personals</div> <div class="Action childs"><div class="detail"><button class="detailbtn">Role Detail</button> </div><div class="delete"><button class="deletebtn">Delete</button></div></div>
     </div>
     <div class="table">
      <div class="firstname childs">Manager</div> <div class="lastname childs">4 Personals</div> <div class="Action childs"><div class="detail"><button class="detailbtn">Role Detail</button> </div><div class="delete"><button class="deletebtn">Delete</button></div></div>
     </div>
     <div class="table">
      <div class="firstname childs">Display Person</div> <div class="lastname childs">8 Personals</div> <div class="Action childs"><div class="detail"><button class="detailbtn">Role Detail</button> </div><div class="delete"><button class="deletebtn">Delete</button></div></div>
     </div>
    
    
                           
   </div>
</div>
<script src="/script/collapser/home.js"></script>
</body>
</html>