<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/fonts/css/all.css">
  <link rel="stylesheet" href="/style/users/home.css">
    <title>Home</title>
</head>
<body>
    <section>
      <!-- left bar -->
       <a href="" id="collapser">
        <span class="fa fa-bars" id="collapsericon"></span>
       </a>
       {{ template "leftmenubar.html" .}}
         <!-- end of left bar -->
   <div class="forms">
    <div class="legend">
      <h1>Register Users</h1>
    </div>
<div class="formsQr">
  <div class="formhandler">
      
    <!-- form -->
    <div class="form">
      <div class="row">
        <input type="text" placeholder="First Name">
        <input type="text" placeholder="Last Name">
      </div>
      
      <div class="row">
        <input type="text" placeholder="Phone Number ">
         <select name="type" id="">
          <option value="Yearly">Administrator</option>
          <option value="Yearly">Displayer</option>
          <option value="Yearly">Manager</option>
         </select>
      </div>
      <div class="row">
        <button class="register">Register</button><button class="reset">Reset</button>
      </div>
<!-- end of form -->

      <!-- qr generator -->
        
    </div>
   </div>

</div>
   </div>
     
<div class="userLists">
  <form action="search">
    <input type="text" placeholder="Search" class="search">
  </form>
   <div class="userinfotable">
    <div class="table">
      <div class="firstname childs">Alazar</div> <div class="lastname childs">Beyene</div><div class="lastname childs">+251975146165</div><div class="lastname childs">Administrator</div> <div class="lastname childs">Active</div> <div class="Action childs"><div class="detail"><button class="detailbtn">Edit</button> </div><div class="detail"><button class="detailbtn">Suspend</button> </div><div class="delete"><button class="deletebtn">Delete</button></div></div>
     </div>
     <div class="table">
      <div class="firstname childs">Alazar</div> <div class="lastname childs">Beyene</div><div class="lastname childs">+251975146165</div><div class="lastname childs">Administrator</div> <div class="lastname childs">Active</div> <div class="Action childs"><div class="detail"><button class="detailbtn">Edit</button> </div><div class="detail"><button class="detailbtn">Suspend</button> </div><div class="delete"><button class="deletebtn">Delete</button></div></div>
     </div>
      <div class="table">
      <div class="firstname childs">Alazar</div> <div class="lastname childs">Beyene</div><div class="lastname childs">+251975146165</div><div class="lastname childs">Administrator</div> <div class="lastname childs">Active</div> <div class="Action childs"><div class="detail"><button class="detailbtn">Edit</button> </div><div class="detail"><button class="detailbtn">Suspend</button> </div><div class="delete"><button class="deletebtn">Delete</button></div></div>
     </div>
      <div class="table">
      <div class="firstname childs">Alazar</div> <div class="lastname childs">Beyene</div><div class="lastname childs">+251975146165</div><div class="lastname childs">Administrator</div> <div class="lastname childs">Active</div> <div class="Action childs"><div class="detail"><button class="detailbtn">Edit</button> </div><div class="detail"><button class="detailbtn">Suspend</button> </div><div class="delete"><button class="deletebtn">Delete</button></div></div>
     </div>
      <div class="table">
      <div class="firstname childs">Alazar</div> <div class="lastname childs">Beyene</div><div class="lastname childs">+251975146165</div><div class="lastname childs">Administrator</div> <div class="lastname childs">Active</div> <div class="Action childs"><div class="detail"><button class="detailbtn">Edit</button> </div><div class="detail"><button class="detailbtn">Suspend</button> </div><div class="delete"><button class="deletebtn">Delete</button></div></div>
     </div>
      <div class="table">
      <div class="firstname childs">Alazar</div> <div class="lastname childs">Beyene</div><div class="lastname childs">+251975146165</div><div class="lastname childs">Administrator</div> <div class="lastname childs">Active</div> <div class="Action childs"><div class="detail"><button class="detailbtn">Edit</button> </div><div class="detail"><button class="detailbtn">Suspend</button> </div><div class="delete"><button class="deletebtn">Delete</button></div></div>
     </div>
      <div class="table">
      <div class="firstname childs">Alazar</div> <div class="lastname childs">Beyene</div><div class="lastname childs">+251975146165</div><div class="lastname childs">Administrator</div> <div class="lastname childs">Active</div> <div class="Action childs"><div class="detail"><button class="detailbtn">Edit</button> </div><div class="detail"><button class="detailbtn">Suspend</button> </div><div class="delete"><button class="deletebtn">Delete</button></div></div>
     </div>
      <div class="table">
      <div class="firstname childs">Alazar</div> <div class="lastname childs">Beyene</div><div class="lastname childs">+251975146165</div><div class="lastname childs">Administrator</div> <div class="lastname childs">Active</div> <div class="Action childs"><div class="detail"><button class="detailbtn">Edit</button> </div><div class="detail"><button class="detailbtn">Suspend</button> </div><div class="delete"><button class="deletebtn">Delete</button></div></div>
     </div>
      <div class="table">
      <div class="firstname childs">Alazar</div> <div class="lastname childs">Beyene</div><div class="lastname childs">+251975146165</div><div class="lastname childs">Administrator</div> <div class="lastname childs">Active</div> <div class="Action childs"><div class="detail"><button class="detailbtn">Edit</button> </div><div class="detail"><button class="detailbtn">Suspend</button> </div><div class="delete"><button class="deletebtn">Delete</button></div></div>
     </div>
      <div class="table">
      <div class="firstname childs">Alazar</div> <div class="lastname childs">Beyene</div><div class="lastname childs">+251975146165</div><div class="lastname childs">Administrator</div> <div class="lastname childs">Active</div> <div class="Action childs"><div class="detail"><button class="detailbtn">Edit</button> </div><div class="detail"><button class="detailbtn">Suspend</button> </div><div class="delete"><button class="deletebtn">Delete</button></div></div>
     </div>
      <div class="table">
      <div class="firstname childs">Alazar</div> <div class="lastname childs">Beyene</div><div class="lastname childs">+251975146165</div><div class="lastname childs">Administrator</div> <div class="lastname childs">Active</div> <div class="Action childs"><div class="detail"><button class="detailbtn">Edit</button> </div><div class="detail"><button class="detailbtn">Suspend</button> </div><div class="delete"><button class="deletebtn">Delete</button></div></div>
     </div>
      <div class="table">
      <div class="firstname childs">Alazar</div> <div class="lastname childs">Beyene</div><div class="lastname childs">+251975146165</div><div class="lastname childs">Administrator</div> <div class="lastname childs">Active</div> <div class="Action childs"><div class="detail"><button class="detailbtn">Edit</button> </div><div class="detail"><button class="detailbtn">Suspend</button> </div><div class="delete"><button class="deletebtn">Delete</button></div></div>
     </div>
      <div class="table">
      <div class="firstname childs">Alazar</div> <div class="lastname childs">Beyene</div><div class="lastname childs">+251975146165</div><div class="lastname childs">Administrator</div> <div class="lastname childs">Active</div> <div class="Action childs"><div class="detail"><button class="detailbtn">Edit</button> </div><div class="detail"><button class="detailbtn">Suspend</button> </div><div class="delete"><button class="deletebtn">Delete</button></div></div>
     </div>
      <div class="table">
      <div class="firstname childs">Alazar</div> <div class="lastname childs">Beyene</div><div class="lastname childs">+251975146165</div><div class="lastname childs">Administrator</div> <div class="lastname childs">Active</div> <div class="Action childs"><div class="detail"><button class="detailbtn">Edit</button> </div><div class="detail"><button class="detailbtn">Suspend</button> </div><div class="delete"><button class="deletebtn">Delete</button></div></div>
     </div>
      <div class="table">
      <div class="firstname childs">Alazar</div> <div class="lastname childs">Beyene</div><div class="lastname childs">+251975146165</div><div class="lastname childs">Administrator</div> <div class="lastname childs">Active</div> <div class="Action childs"><div class="detail"><button class="detailbtn">Edit</button> </div><div class="detail"><button class="detailbtn">Suspend</button> </div><div class="delete"><button class="deletebtn">Delete</button></div></div>
     </div>
      <div class="table">
      <div class="firstname childs">Alazar</div> <div class="lastname childs">Beyene</div><div class="lastname childs">+251975146165</div><div class="lastname childs">Administrator</div> <div class="lastname childs">Active</div> <div class="Action childs"><div class="detail"><button class="detailbtn">Edit</button> </div><div class="detail"><button class="detailbtn">Suspend</button> </div><div class="delete"><button class="deletebtn">Delete</button></div></div>
     </div>
      <div class="table">
      <div class="firstname childs">Alazar</div> <div class="lastname childs">Beyene</div><div class="lastname childs">+251975146165</div><div class="lastname childs">Administrator</div> <div class="lastname childs">Active</div> <div class="Action childs"><div class="detail"><button class="detailbtn">Edit</button> </div><div class="detail"><button class="detailbtn">Suspend</button> </div><div class="delete"><button class="deletebtn">Delete</button></div></div>
     </div>
      <div class="table">
      <div class="firstname childs">Alazar</div> <div class="lastname childs">Beyene</div><div class="lastname childs">+251975146165</div><div class="lastname childs">Administrator</div> <div class="lastname childs">Active</div> <div class="Action childs"><div class="detail"><button class="detailbtn">Edit</button> </div><div class="detail"><button class="detailbtn">Suspend</button> </div><div class="delete"><button class="deletebtn">Delete</button></div></div>
     </div>
      <div class="table">
      <div class="firstname childs">Alazar</div> <div class="lastname childs">Beyene</div><div class="lastname childs">+251975146165</div><div class="lastname childs">Administrator</div> <div class="lastname childs">Active</div> <div class="Action childs"><div class="detail"><button class="detailbtn">Edit</button> </div><div class="detail"><button class="detailbtn">Suspend</button> </div><div class="delete"><button class="deletebtn">Delete</button></div></div>
     </div>
      <div class="table">
      <div class="firstname childs">Alazar</div> <div class="lastname childs">Beyene</div><div class="lastname childs">+251975146165</div><div class="lastname childs">Administrator</div> <div class="lastname childs">Active</div> <div class="Action childs"><div class="detail"><button class="detailbtn">Edit</button> </div><div class="detail"><button class="detailbtn">Suspend</button> </div><div class="delete"><button class="deletebtn">Delete</button></div></div>
     </div>
      <div class="table">
      <div class="firstname childs">Alazar</div> <div class="lastname childs">Beyene</div><div class="lastname childs">+251975146165</div><div class="lastname childs">Administrator</div> <div class="lastname childs">Active</div> <div class="Action childs"><div class="detail"><button class="detailbtn">Edit</button> </div><div class="detail"><button class="detailbtn">Suspend</button> </div><div class="delete"><button class="deletebtn">Delete</button></div></div>
     </div>
      <div class="table">
      <div class="firstname childs">Alazar</div> <div class="lastname childs">Beyene</div><div class="lastname childs">+251975146165</div><div class="lastname childs">Administrator</div> <div class="lastname childs">Active</div> <div class="Action childs"><div class="detail"><button class="detailbtn">Edit</button> </div><div class="detail"><button class="detailbtn">Suspend</button> </div><div class="delete"><button class="deletebtn">Delete</button></div></div>
     </div>
      <div class="table">
      <div class="firstname childs">Alazar</div> <div class="lastname childs">Beyene</div><div class="lastname childs">+251975146165</div><div class="lastname childs">Administrator</div> <div class="lastname childs">Active</div> <div class="Action childs"><div class="detail"><button class="detailbtn">Edit</button> </div><div class="detail"><button class="detailbtn">Suspend</button> </div><div class="delete"><button class="deletebtn">Delete</button></div></div>
     </div>
      <div class="table">
      <div class="firstname childs">Alazar</div> <div class="lastname childs">Beyene</div><div class="lastname childs">+251975146165</div><div class="lastname childs">Administrator</div> <div class="lastname childs">Active</div> <div class="Action childs"><div class="detail"><button class="detailbtn">Edit</button> </div><div class="detail"><button class="detailbtn">Suspend</button> </div><div class="delete"><button class="deletebtn">Delete</button></div></div>
     </div>
      <div class="table">
      <div class="firstname childs">Alazar</div> <div class="lastname childs">Beyene</div><div class="lastname childs">+251975146165</div><div class="lastname childs">Administrator</div> <div class="lastname childs">Active</div> <div class="Action childs"><div class="detail"><button class="detailbtn">Edit</button> </div><div class="detail"><button class="detailbtn">Suspend</button> </div><div class="delete"><button class="deletebtn">Delete</button></div></div>
     </div>
      <div class="table">
      <div class="firstname childs">Alazar</div> <div class="lastname childs">Beyene</div><div class="lastname childs">+251975146165</div><div class="lastname childs">Administrator</div> <div class="lastname childs">Active</div> <div class="Action childs"><div class="detail"><button class="detailbtn">Edit</button> </div><div class="detail"><button class="detailbtn">Suspend</button> </div><div class="delete"><button class="deletebtn">Delete</button></div></div>
     </div>
      <div class="table">
      <div class="firstname childs">Alazar</div> <div class="lastname childs">Beyene</div><div class="lastname childs">+251975146165</div><div class="lastname childs">Administrator</div> <div class="lastname childs">Active</div> <div class="Action childs"><div class="detail"><button class="detailbtn">Edit</button> </div><div class="detail"><button class="detailbtn">Suspend</button> </div><div class="delete"><button class="deletebtn">Delete</button></div></div>
     </div>
      <div class="table">
      <div class="firstname childs">Alazar</div> <div class="lastname childs">Beyene</div><div class="lastname childs">+251975146165</div><div class="lastname childs">Administrator</div> <div class="lastname childs">Active</div> <div class="Action childs"><div class="detail"><button class="detailbtn">Edit</button> </div><div class="detail"><button class="detailbtn">Suspend</button> </div><div class="delete"><button class="deletebtn">Delete</button></div></div>
     </div>
      <div class="table">
      <div class="firstname childs">Alazar</div> <div class="lastname childs">Beyene</div><div class="lastname childs">+251975146165</div><div class="lastname childs">Administrator</div> <div class="lastname childs">Active</div> <div class="Action childs"><div class="detail"><button class="detailbtn">Edit</button> </div><div class="detail"><button class="detailbtn">Suspend</button> </div><div class="delete"><button class="deletebtn">Delete</button></div></div>
     </div>
      <div class="table">
      <div class="firstname childs">Alazar</div> <div class="lastname childs">Beyene</div><div class="lastname childs">+251975146165</div><div class="lastname childs">Administrator</div> <div class="lastname childs">Active</div> <div class="Action childs"><div class="detail"><button class="detailbtn">Edit</button> </div><div class="detail"><button class="detailbtn">Suspend</button> </div><div class="delete"><button class="deletebtn">Delete</button></div></div>
     </div>
      <div class="table">
      <div class="firstname childs">Alazar</div> <div class="lastname childs">Beyene</div><div class="lastname childs">+251975146165</div><div class="lastname childs">Administrator</div> <div class="lastname childs">Active</div> <div class="Action childs"><div class="detail"><button class="detailbtn">Edit</button> </div><div class="detail"><button class="detailbtn">Suspend</button> </div><div class="delete"><button class="deletebtn">Delete</button></div></div>
     </div>
      <div class="table">
      <div class="firstname childs">Alazar</div> <div class="lastname childs">Beyene</div><div class="lastname childs">+251975146165</div><div class="lastname childs">Administrator</div> <div class="lastname childs">Active</div> <div class="Action childs"><div class="detail"><button class="detailbtn">Edit</button> </div><div class="detail"><button class="detailbtn">Suspend</button> </div><div class="delete"><button class="deletebtn">Delete</button></div></div>
     </div>
      <div class="table">
      <div class="firstname childs">Alazar</div> <div class="lastname childs">Beyene</div><div class="lastname childs">+251975146165</div><div class="lastname childs">Administrator</div> <div class="lastname childs">Active</div> <div class="Action childs"><div class="detail"><button class="detailbtn">Edit</button> </div><div class="detail"><button class="detailbtn">Suspend</button> </div><div class="delete"><button class="deletebtn">Delete</button></div></div>
     </div>
      <div class="table">
      <div class="firstname childs">Alazar</div> <div class="lastname childs">Beyene</div><div class="lastname childs">+251975146165</div><div class="lastname childs">Administrator</div> <div class="lastname childs">Active</div> <div class="Action childs"><div class="detail"><button class="detailbtn">Edit</button> </div><div class="detail"><button class="detailbtn">Suspend</button> </div><div class="delete"><button class="deletebtn">Delete</button></div></div>
     </div>
      <div class="table">
      <div class="firstname childs">Alazar</div> <div class="lastname childs">Beyene</div><div class="lastname childs">+251975146165</div><div class="lastname childs">Administrator</div> <div class="lastname childs">Active</div> <div class="Action childs"><div class="detail"><button class="detailbtn">Edit</button> </div><div class="detail"><button class="detailbtn">Suspend</button> </div><div class="delete"><button class="deletebtn">Delete</button></div></div>
     </div>
     <div class="table">
      <div class="firstname childs">Alazar</div> <div class="lastname childs">Beyene</div><div class="lastname childs">+251975146165</div><div class="lastname childs">Administrator</div> <div class="lastname childs">Active</div> <div class="Action childs"><div class="detail"><button class="detailbtn">Edit</button> </div><div class="detail"><button class="detailbtn">Suspend</button> </div><div class="delete"><button class="deletebtn">Delete</button></div></div>
     </div>
     <div class="table">
      <div class="firstname childs">Alazar</div> <div class="lastname childs">Beyene</div><div class="lastname childs">+251975146165</div><div class="lastname childs">Administrator</div> <div class="lastname childs">Active</div> <div class="Action childs"><div class="detail"><button class="detailbtn">Edit</button> </div><div class="detail"><button class="detailbtn">Suspend</button> </div><div class="delete"><button class="deletebtn">Delete</button></div></div>
     </div>
      <div class="table">
      <div class="firstname childs">Alazar</div> <div class="lastname childs">Beyene</div><div class="lastname childs">+251975146165</div><div class="lastname childs">Administrator</div> <div class="lastname childs">Active</div> <div class="Action childs"><div class="detail"><button class="detailbtn">Edit</button> </div><div class="detail"><button class="detailbtn">Suspend</button> </div><div class="delete"><button class="deletebtn">Delete</button></div></div>
     </div>
      <div class="table">
      <div class="firstname childs">Alazar</div> <div class="lastname childs">Beyene</div><div class="lastname childs">+251975146165</div><div class="lastname childs">Administrator</div> <div class="lastname childs">Active</div> <div class="Action childs"><div class="detail"><button class="detailbtn">Edit</button> </div><div class="detail"><button class="detailbtn">Suspend</button> </div><div class="delete"><button class="deletebtn">Delete</button></div></div>
     </div>
      <div class="table">
      <div class="firstname childs">Alazar</div> <div class="lastname childs">Beyene</div><div class="lastname childs">+251975146165</div><div class="lastname childs">Administrator</div> <div class="lastname childs">Active</div> <div class="Action childs"><div class="detail"><button class="detailbtn">Edit</button> </div><div class="detail"><button class="detailbtn">Suspend</button> </div><div class="delete"><button class="deletebtn">Delete</button></div></div>
     </div>
      <div class="table">
      <div class="firstname childs">Alazar</div> <div class="lastname childs">Beyene</div><div class="lastname childs">+251975146165</div><div class="lastname childs">Administrator</div> <div class="lastname childs">Active</div> <div class="Action childs"><div class="detail"><button class="detailbtn">Edit</button> </div><div class="detail"><button class="detailbtn">Suspend</button> </div><div class="delete"><button class="deletebtn">Delete</button></div></div>
     </div>
     
                           
   </div>
</div>
<script src="/script/collapser/home.js"></script>
</body>
</html>